@charset 'utf-8';

/*----------------------------------------
	よくある質問ページ専用
----------------------------------------*/

/*----------------------------------------
	全体レイアウト
----------------------------------------*/
.faq {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/*----------------------------------------
	パーツレイアウト
----------------------------------------*/
.faq__item {
  border-top: 1px solid var(--color-base);
}
.faq__item:last-child {
  border-bottom: 1px solid var(--color-base);
}
.faq__question {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 30px 0;
  font-size: 0.9375rem;
  line-height: 1.8;
  cursor: pointer;
}
.faq__question::before,
.faq__question::after {
  position: absolute;
  top: 50%;
  content: "";
  background-color: var(--color-base);
  transform: translateY(-50%);
}
.faq__question::before {
  right: 0;
  width: 15px;
  height: 1px;
}
.faq__question::after {
  right: 6px;
  width: 1px;
  height: 15px;
}
.faq__question.is-open::after {
  display: none;
}
.faq__label {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0.875rem;
}
.faq__label--question {
  background-color: var(--color-base);
  color: var(--color-white);
}
.faq__answer {
  display: flex;
  gap: 20px;
  font-size: 0.9375rem;
  line-height: 1.8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.faq__answer.is-open {
  margin-bottom: 30px;
}
.faq__label--answer {
  background-color: var(--color-white);
  color: var(--color-base);
  border: 1px solid var(--color-base);
}
.faq__link {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .faq__question {
    gap: 100px;
    padding: 40px 0;
  }
  .faq__answer {
    gap: 100px;
  }
  .faq__answer.is-open {
    margin-bottom: 40px;
  }
}
