@charset 'utf-8';

.tabs {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;
}
.tabs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 150px;
  height: 40px;
  border-top: 1px solid var(--color-base);
  border-right: 1px solid var(--color-base);
  border-left: 1px solid var(--color-base);
  font-size: 0.625rem;
}
.tab {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.tab[aria-expanded="true"] {
  background-color: var(--color-base);
  color: var(--color-white);
}
.tab:hover {
  background-color: var(--color-base);
  color: var(--color-white);
}
.products {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 10px;
}
.products[aria-hidden="false"] {
  display: grid;
}
.products__item {
  position: relative;
  width: 100%;
}
.products__item .products__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  color: var(--color-white);
  transition: all 0.6s ease;
  opacity: 0;
}
.products__item:hover .products__info {
  opacity: 1;
}
.products__name {
  font-size: 1.125rem;
}
.products__price {
  margin-top: 5px;
  font-size: 0.875rem;
}
@media screen and (min-width: 1024px) {
  .tabs {
    gap: 10px;
  }
  .tabs__item {
    font-size: 0.875rem;
  }
  .products {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
  }
}
