@charset "utf-8";
/*----------------------------------------
	Variables
----------------------------------------*/
:root {
  --color-bg: #fafafa;
  --color-base: #1f1f1f;
  --color-gray-100: #eeeeee;
  --color-gray-400: #777777;
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-attention: #df4440;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
  --font-family-heading: "Zen Old Mincho", sans-serif;
}

/*----------------------------------------
	base
----------------------------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 80px;
  }
}
body {
  color: var(--color-base);
  font-family: var(--font-family-base);
  font-weight: 400;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  color: var(--color-base);
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  opacity: 0.7;
}

/*----------------------------------------
	header
----------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: var(--color-white);
}
.header__logo {
  width: 100%;
  max-width: 180px;
  line-height: 0;
}
.header__logo-link {
  display: block;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header__logo {
    max-width: 220px;
  }
}

/*----------------------------------------
	gnav
----------------------------------------*/
/* 共通 */
.gnav__list {
  display: flex;
  font-size: 0.875rem;
}
.gnav__link--cta {
  padding: 8px 30px;
  border-radius: 30px;
  background-color: var(--color-base);
  color: var(--color-white);
  font-weight: 500;
  text-align: center;
}
/* SP専用 */
@media (max-width: 767px) {
  .gnav {
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 20;
    width: 80%;
    height: 100vh;
    background-color: var(--color-white);
    transition: all 0.6s;
  }
  .gnav[aria-hidden="false"] {
    left: 0;
  }
  .gnav__list {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 60px 0;
  }
  .gnav__item {
    border-top: 1px solid var(--color-base);
  }
  .gnav__link {
    display: block;
    padding: 20px;
  }
  .gnav__item--cta {
    padding: 30px 0;
  }
  .gnav__link--cta {
    max-width: 160px;
    margin: 0 auto;
  }
}
/* PC専用 */
@media screen and (min-width: 768px) {
  .gnav__list {
    align-items: center;
    gap: 40px;
  }
}

/* label
----------------------------------------*/
.gnav__label {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  text-align: left;
}
.gnav__label::before,
.gnav__label::after {
  position: absolute;
  top: 50%;
  content: "";
  background-color: var(--color-base);
  transform: translateY(-50%);
}
.gnav__label::before {
  right: 20px;
  width: 15px;
  height: 1px;
}
.gnav__label::after {
  right: 27px;
  width: 1px;
  height: 15px;
}
.gnav__item--has-children.active .gnav__label::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .gnav__label {
    padding: 0;
  }
  .gnav__label::before {
    content: none;
    background: none;
  }
  .gnav__label::after {
    top: 20px;
    right: 0;
    left: 0;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    border-top: 1px solid var(--color-base);
    border-right: 1px solid var(--color-base);
    background: none;
    transform: translate(0) rotate(135deg);
  }
  .gnav__item--has-children.active .gnav__label::after {
    display: inline-block;
  }
}

/*----------------------------------------
	subnav
----------------------------------------*/
.subnav__list {
  display: none;
  padding-left: 40px;
}
.gnav__item--has-children.active .subnav__list {
  display: block;
}
.subnav__item {
  border-top: 1px solid var(--color-gray-100);
}
.subnav__link {
  display: block;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .subnav__list {
    position: absolute;
    top: 80px;
    width: 140px;
    padding: 0 20px 20px;
    background-color: var(--color-white);
  }
  .subnav__item {
    border: none;
  }
  .subnav__link {
    margin-top: 10px;
    padding: 0;
  }
}

/*----------------------------------------
	hamburger
----------------------------------------*/
.hamburger {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 30;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.hamburger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 30px;
  height: 1px;
  background-color: var(--color-base);
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}
.hamburger__line:nth-last-of-type(1) {
  transform: translate(-50%, -9px);
}
.hamburger__line:nth-last-of-type(3) {
  transform: translate(-50%, 9px);
}
/* 閉じる */
.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: var(--color-white);
}
.hamburger[aria-expanded="true"] .hamburger__line:nth-last-of-type(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.hamburger[aria-expanded="true"] .hamburger__line:nth-last-of-type(2) {
  opacity: 0;
}
.hamburger[aria-expanded="true"] .hamburger__line:nth-last-of-type(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

/*----------------------------------------
	mask
----------------------------------------*/
.header__mask {
  display: none;
}
.header__mask[aria-hidden="false"] {
  display: block;
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: var(--color-black);
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .header__mask {
    display: none !important;
  }
}

/*----------------------------------------
	mainContents
----------------------------------------*/
main {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  main {
    margin-top: 80px;
  }
}

/*----------------------------------------
	footer
----------------------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 20px;
  background-color: var(--color-base);
  color: var(--color-white);
}
.footer__link {
  color: var(--color-white);
}
.footer__nav {
  display: flex;
  justify-content: center;
}
.footer__nav-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 130px;
}
.footer__nav-title {
  font-size: 0.9375rem;
  font-weight: 500;
}
.footer__nav-item {
  display: flex;
  gap: 10px;
  font-size: 0.875rem;
}
.footer__nav-item::before {
  content: "-";
}
.footer__nav-item + .footer__nav-item {
  margin-top: 20px;
}
.footer__info {
  text-align: center;
}
.footer__logo-link {
  display: block;
  width: 100%;
  max-width: 220px;
  margin: 60px auto 0;
  line-height: 0;
}
.footer__company {
  margin-top: 30px;
  font-size: 0.875rem;
  line-height: 1.8;
}
.footer__copyright {
  margin-top: 30px;
  font-size: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 80px 5%;
  }
  .footer__nav {
    width: 65%;
    justify-content: flex-end;
  }
  .footer__info {
    width: 35%;
    text-align: left;
  }
  .footer__logo-link {
    margin: 0;
  }
}

/*----------------------------------------
	section
----------------------------------------*/
.c-section-title {
  color: rgba(51, 51, 51, 0.9);
  font-size: 12vw;
  font-weight: bold;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .c-section-title {
    font-size: clamp(4.25rem, 8vw, 8.125rem);
  }
}

/*----------------------------------------
	button
----------------------------------------*/
.c-button {
  position: relative;
  z-index: 10;
  display: block;
  max-width: 120px;
  padding: 10px 0;
  border: 1px solid var(--color-base);
  background-color: var(--color-white);
  font-size: 0.75rem;
  text-align: center;
}
.c-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: var(--color-base);
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.c-button:hover {
  color: var(--color-white);
  opacity: 1;
}
.c-button:hover::before {
  transform-origin: 0 50%;
  transform: scaleX(1);
}

/*----------------------------------------
	pageHeader
----------------------------------------*/
.page-header {
  position: relative;
  margin-bottom: 40px;
}
.page-header__image {
  height: 100%;
}
.page-header__img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.page-header__title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  height: 70px;
  padding: 0 4%;
  background-color: rgba(51, 51, 51, 0.9);
  color: var(--color-white);
}
.page-header__title-en {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.page-header__title-ja {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
}
.page-text {
  margin-bottom: 40px;
  padding: 0 20px;
  font-size: 0.9375rem;
  text-align: center;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .page-header {
    margin-bottom: 80px;
  }
  .page-header__img {
    height: 320px;
  }
  .page-header__title-area {
    height: 100%;
  }
  .page-header__title-en {
    font-size: 2.875rem;
  }
  .page-header__title-ja {
    font-size: 0.875rem;
  }
  .page-text {
    margin-bottom: 80px;
  }
}

/*----------------------------------------
	ユーティリティ
----------------------------------------*/
.u-mt-section {
  margin-top: 60px;
}
.u-mt-section-sm {
  margin-top: 40px;
}
.u-hidden-sp {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-mt-section {
    margin-top: 120px;
  }
  .u-mt-section-sm {
    margin-top: 80px;
  }
  .u-hidden-sp {
    display: block;
  }
}